 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif ; 
}
h1{
    font-size: 2rem;
    color: #333;
}
h2{
   font-size: 1.5rem;
   color: #555;
}
h3{
      font-size: 1.2rem;
      color: #777;
}
h4{
    font-size: 1rem;
    color: #999;
}
h5{
    font-size: 0.8rem;
    color: #bbb;
}h6{
      font-size: 0.6rem;
      color: #ddd;
}
p{
      font-size: 15px;
      color: #333;
      margin : 10px 0; 
}
.section-p{
   padding : 40px ;
}
.section-m {
   margin : 40px ;
}
button.normal{
      padding: 10px 20px;
      background-color: #0c0618;
      color: #d72aa9;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      outline: none;
      transition:0.2s ;
}
button.normal:hover{
      background-color: #0e0c0e;
      color: #fff;
}html, body{
    width:100%;
    overflow-x:hidden;
}


/*Header section*/
#header{
      display : flex;
      align-items:center;
      width:100%;
      font-size: 14px;
      background-color:#d398e8;
      padding: 20px 0;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.header-logo{
      text-decoration: none;
      margin-right:auto;
      color: #0c0618;
      font-size: 50px;
      font-family: Arial;
}
.header-logo a{
      text-decoration: none;
}
.header-list{
      display: flex;
      align-items: center;
}
.header-list-nav ul{
      display: flex;
      align-items: center;
}
.header-list-nav ul li{
      display: inline-flex;
      list-style : none;
      padding: 0 20px;
      position : relative;
}
.header-list-nav ul li a{
      text-decoration: none;
      color:#0c0618;
      font-size:17px;
      font-family:Arial, sans-serif;
      font-weight:600;
      transition:0.3s;
}
.header-list-nav ul li a:hover,
     .header-list-nav ul li a.active{
      color: #111fbe;
      content:"";
}
.header-list-icon{
      display: flex;
      font-size:17px;
      align-items: center;
      color: #26055d;
}
.header-list-icon a{
       position: relative;
      padding: 0 20px;
      cursor: pointer;
      transition:0.3s;
}  
.header-list-icon a:hover,
   .header-list-nav ul li a.active{   
   color:#111fbe;
      content:"";
}  
/*Hero Unit Section*/  
#hero {
      background-image:url("../images/hero7.png");
      width: 100% ;
      height:100vh;
      background-size:cover;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-repeat: no-repeat;
      background-position:center;
      padding: 170px 50px;
}  
#hero h4 {
      color: #0b0909;
      font-size: 30px;
      font-family: italic;
}
#hero h2 {
      color: #0b0909;
      font-size: 60px;
      font-family: italic;
}
#hero h1 {
      color: #0b0909;
      font-size: 50px;
      font-family: italic;
}
p{
      color: #0b0909;
      font-size: 15px;
}
#hero button{
      background-color:#d398e8;
      width: 80px;
      height:60px;
      border: #26055d solid 2px;
      border-radius: 15px;
      cursor: pointer;
      font-size: 25px;
      font-family: italic;
      font-weight: 600;
      display:flex;
      justify-content: center;
      text-align:left;
      align-items: center;
      color:#26055d;
      padding: 14px 80px;
      outline: none;
      transition:0.2s;
} 
#hero button:hover{
      color: #960a6c;
}
#featured{
         display:flex;
         padding:20px;
         gap:60px;
         justify-content:center;
         background-color:#dcbae8;
} 
.free{
      border:1px solid #fff;
      padding:30px 20px 30px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);

       display:flex;
       flex-direction : column;
       align-items:center;
}
.piggy{ 
   border:1px solid #fff;
   padding:30px 20px 30px 20px;
   border-radius:40px;
   box-shadow:0 5px 15px rgba(0,0,0,0.06);

      display:flex;
      flex-direction : column;
      align-items:center;
}
.order{
   border:1px solid #fff;
   padding:30px 20px 30px 20px;
   border-radius:40px;
   box-shadow:0 5px 15px rgba(0,0,0,0.06);

      display:flex;
      flex-direction : column;
      align-items:center;
}
.fast-shipping{
   border:1px solid #fff;
   padding:30px 20px 30px 20px;
   border-radius:40px;
   box-shadow:0 5px 15px rgba(0,0,0,0.06);
   margin-left:20px;
      display:flex;
      flex-direction : column;
      align-items:center;
}
.promotion{
   border:1px solid #fff;
   padding:30px 25px 30px 25px;
   border-radius:40px;
   box-shadow:0 5px 15px rgba(0,0,0,0.06);

      display:flex;
      flex-direction : column;
      align-items:center;
}
.support{
   border:1px solid #fff;
   padding:30px 20px 30px 20px;
   border-radius:40px;
   box-shadow:0 5px 15px rgba(0,0,0,0.06);
   margin-right:40px;

      display:flex;
      flex-direction : column;
      align-items:center;
}
.free i{
      font-size:40px;
      text-align:center;
} 
.piggy i{
      font-size:40px;
      text-align:center;
}
.order i{
      font-size:40px;
      text-align:center;
}
.fast-shipping  i{
      font-size:40px;
      text-align:center;
}
.promotion i{
      font-size:45px;
      text-align:center;
}
.support i{
      font-size:40px;
      text-align:center;
}
#featured h6{
      font-size:20px;
      font-family:Calibri;
      color:#111fbe;
      padding:15px 10px;
      text-align:center;
}
#feature{ 
      background-color:#dcbae8;
}
.heading{
      padding-top:20px;
      text-align:center;
}
.heading h1{
      display:flex;
      margin-top:40px;
      text-align:center;
      flex-direction:column;
      align-items:center;
      justify-content:space-between;
      font-size:50px;
      color:#4503b7;
      font-weight:20px;
      font-family:Calibri;
}
.heading h2{
      display:flex;
      margin-bottom:20px;
      text-align:center;
      flex-direction:column;
      align-items:center;
      justify-content:space-between;
      font-size:20px;
      color:#4503b7;
      font-weight:20px;
      font-family:Calibri;
}
.container{
      display : flex;
      margin-top:40px;
      margin-left:20px;
      margin-right : 30px;
      justify-content: center;
      flex-wrap:wrap;
}
#feature h3{
      font-size:20px;
      color:#430c3a;
      font-weight:10p;
      padding-top:20px;
      font-family: Calibri;
      padding-bottom:10px;
}
.price{
      display:flex;
      justify-content:space-between;
      align-items:center;
}
#feature h4{
      font-size:20px;
      color:#4503b7;
      font-weight:20px;
      font-family:Calibri;
}
.shirtt{
      display:flex;
      padding : 30px 20px;
      border-radius:space-around;
      flex-direction:column;
      cursor:pointer;
      margin:20px;
      border:2px solid rgb(250, 229, 229);
      border-radius: 40px;
      background-color:#b6eaf5;
      box-shadow: 0 5px 15px rgba(211, 7, 7, 0.1);
      transition:0.2s;
}
.shirt1{
      display:flex;
      padding : 30px 20px;
      border-radius:space-around;
      flex-direction:column;
      cursor:pointer;
      margin:20px;
      border:2px solid rgb(250, 229, 229);
      border-radius: 40px;
      background-color:#b6eaf5;
      box-shadow: 0 5px 15px rgba(48, 22, 164, 0.1);
      transition:0.2s;
}
.shirt3{
      display:flex;
      padding : 30px 20px;
      border-radius:space-around;
      flex-direction:column;
      cursor:pointer;
      margin:20px;
      border:2px solid rgb(250, 229, 229);
      border-radius: 40px;
      background-color:#b6eaf5;
      box-shadow: 0 5px 15px rgba(48, 22, 164, 0.1);
      transition:0.2s;
}
.shirt4{
      display:flex;
      padding : 30px 20px;
      border-radius:space-around;
      flex-direction:column;
      cursor:pointer;
      margin:20px;
      border:2px solid rgb(250, 229, 229);
      border-radius: 40px;
      background-color:#b6eaf5;
      box-shadow: 0 5px 15px rgba(48, 22, 164, 0.1);
      transition:0.2s;
}
.shirt5{
      display:flex;
      padding : 30px 20px;
      border-radius:space-around;
      flex-direction:column;
      cursor:pointer;
      margin:20px;
      border:2px solid rgb(250, 229, 229);
      border-radius: 40px;
      background-color:#b6eaf5;
      box-shadow: 0 5px 15px rgba(48, 22, 164, 0.1);
      transition:0.2s;
}
.shirt6{
      display:flex;
      padding : 30px 20px;
      border-radius:space-around;
      flex-direction:column;
      cursor:pointer;
      margin:20px;
      border:2px solid rgb(250, 229, 229);
      border-radius: 40px;
      background-color:#b6eaf5;
      box-shadow: 0 5px 15px rgba(48, 22, 164, 0.1);
      transition:0.2s;
}
.shirt9{
      display:flex;
      padding : 30px 20px;
      border-radius:space-around;
      flex-direction:column;
      cursor:pointer;
      margin:20px;
      border:2px solid rgb(250, 229, 229);
      border-radius: 40px;
      background-color:#b6eaf5;
      box-shadow: 0 5px 15px rgba(48, 22, 164, 0.1);
      transition:0.2s;
}
.shirt10{
      display:flex;
      padding : 30px 20px;
      border-radius:space-around;
      border:20px;
      flex-direction:column;
      cursor:pointer;
      margin:20px;
      border:10px;
      border:2px solid rgb(222, 187, 141);
      border-radius: 40px;
      background-color:#b6eaf5;
      box-shadow: 0 5px 15px rgba(48, 22, 164, 0.1);
      transition:0.2s;
}
.star{
      color:#e6de04;
      font-size:30px;
}
#highlight{
      display:flex;
      margin:0;
      padding:0;
}
.banner {    
width:100vw;
height:400px;
background-image: url("../images/baner.jpeg");
display:flex;
flex-direction:column;
background-size:cover;
justify-content:center;
align-items:center;
background-repeat: no-repeat;
background-position:center;
}
.normal{
      cursor:pointer;
      color:#111fbe;
      padding :10px;
      border:5px;
      background-color:#4503b7;
      font-size:10px;
      transition:0.2s;
}
#highlight h1{
      text-align:center;
      margin-top:40px;
      font-family:Calibri;
      font-size:60px;
      color:#4e13ac;
}
#highlight h2{
      text-align:center;
      font-size:40px;
      font-family:Calibri;
      color:#4e13ac;
}
#highlight h3{
      text-align:center;
      font-size:20px;
      font-family:Calibri;
      color:#ff3426;
}
#highlights{
    display:flex;
    gap:30px;
    padding:20px;
    flex-wrap:wrap;
}
.high{
      width:48%;
    height:300px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    font-weight:bold;
    padding-left:20px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.high1{
    width:48%;
    height:300px;
    padding-right:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end;
    font-weight:bold;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.high2,
.high3,
.high4{
      width:31%;
    height:250px;

    display:flex;
    justify-content:center;
    flex-direction:column;
    font-weight:bold;
    align-items:center;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.high{
    background-image:url("../images/high4.jpeg");
}

.high1{
    background-image:url("../images/high5.jpeg");
}

.high2{
    background-image:url("../images/highlight3.jpg");
}
.high3{
background-image:url("../images/highlight.jpg");
}
.high4{
background-image:url("../images/highlight2.jpg");
}
#highlights h1{
      color:#222222;
      font-size:40px;
      font-family: Times new Roman;
      justify-content:center;
}
#highlights h2{
      color:#222222;
      font-size:30px;
      font-family: Times new Roman;
      justify-content:center;
}
#highlights h6{
      color:#8f0000;
      font-size:15px;
      font-weight:bold;
      font-family: Times new Roman;
      justify-content:center;
}
#highlights h3{
      color:#fff;
      font-size:40px;
      font-family: Times new Roman;
      justify-content:center;
}
#highlights h4{
      color:#8f0000;
      font-size:15px;
      font-weight:bold;
      font-family: Times new Roman;
      justify-content:center;
}
#highlights span{
      color:#8f0000;
      font-size:20px;
      font-weight:bolder;
      font-family: Times new Roman;
      justify-content:center;
}
#highlights h5{
      color:#fff;
      font-size:30px;
      font-family: Times new Roman;
      justify-content:center;
}
.butt{
      cursor:pointer;
      color:#000;
      padding :10px;
      width:80px;
      height:40px;
      font-weight:bold;
      border:5px;
      border-radius:5px;
      background-color:#5cafcb;
      font-size:10px;
      font-family:calibri;
      transition:0.2s;
}
#newsletter{
      background-color:#72c4e5;
      display:flex;
      height:150px;
      width:100vw;
}
#newsletter .news{
      display:flex;
      width:100vw;
     flex-direction:column;
    align-items:flex-start;

}
.form{
      align-items:center;
}
#newsletter .form  input{
      height:30px;
      width:300px;
      margin-top:20px;
      border-color:#d1d0d0;
      margin-bottom:5px;
}
#newsletter .form  button{
      height:30px;
      width: 100px;
      color:#000;
      border-color:#d1d0d0;
      background-color:#6e76d1;
      font-weight:bolder;
      cursor:pointer;
      transition:0.2s;
}
#newsletter h1{
      color:#000;
      margin-top:20px;
      padding-left: 20px; 
}
#newsletter h5{
    color:#000;
    margin-top:10px;
    margin-bottom:20px;
    line-height:1.4;
    margin-left:20px;
}
#newsletter span{
      color:#e50619;
}
#footer{
      display:flex;
      width:100vw;
      background-color:#dec6c6;
}
.footer{
      display:flex;
      width:100vw;
      padding:10px;
}
.footer-right{
      display:flex;
      flex-direction:row;
      gap:40px;
}
.header-logo {
      display: flex;
      color: #0c0618;
      padding-left:20px;
      font-size: 50px;
      font-family: italic;
}
.foo1{
display:flex;
flex-direction:column;
padding:20px;
}
#footer h3{
      color:#000;
      width:15px;
}
#footer h2{
      color:#000;
      width:15px;
}
#footer h4{
      color:#000;
}

#footer span{
      color : #000;
}
.foo2{
display:flex;
flex-direction:column;
padding:30px;
}
.foo3{
display:flex;
flex-direction:column;
padding:30px;
}
.foo4{
display:flex;
flex-direction:column;
padding:40px;
}
.foo4 button{
      display:flex;
      flex-direction:row;
      padding:10px 10px 10px 10px;
      width:110px;
      height:40px;
      background-color:white;
      cursor:pointer;
      transition:0.2s;
      margin-bottom:10px;
      border-radius:5px;
      border-color:white;
}
.foo4 button.hover{
      color:#111fbe;
}
.image{
      display:flex;
      flex-direction:column;
      justify-content:space-between;
      padding:10px;
      gap:10px;
}
.image a{
      text-decoration:none;
      font-size:20px;
      color:#000;
      cursor: pointer;
      transition:0.2s;
}
.image a.hover{
      color:white;
}
.foo4 button{
      color:black;
      cursor:pointer;
      transition:0.2s;  
      font-weight:700;
      border-color:white;
}
.foo4 span{
      font-size:15px;
      color:black;
      margin-bottom:10px;
}
.header-right{
      display:inline-flex;
      gap:10px;
      padding-right:10px;
}



/*Mobile Application*/

@media (max-width:1550px){
    #hero {
      padding:280px 30px;
      align-items:flex-start;
      height : 90vh;
      background-position: right center;
}
#hero h4 {
      font-size: 40px;
}
#hero h2{
      font-size: 60px;
}
#hero h1 {
      font-size: 45px;
}
p{
      font-size: 25px;
}
#featured{
      flex-wrap:wrap;
}
.fast-shipping{
      border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
      margin-left:0;
}
.free{
      border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.piggy{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.order{ 
   border:2px solid #ffff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.free{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.promotion{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.support{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      margin-right:0px;
}
.shirtt{
      margin:10px;
}
.shirt1{
            margin:10px;
}
.shirt3{
            margin:10px;
}
.shirt4{
            margin:10px;
}
.shirt5{
            margin:10px;
}
.shirt6{
            margin:10px;
}
.shirt9{
      margin:10px;
}
.shirt10{
            margin:10px;
}
#highlight h1{
      font-size:60px;
}
#highlight h2{
      font-size:40px;
}
button.normal{
      font-size:22px;
}
.high{
background-position:top center;
width:45vw;
height:450px;
}
.high1{
background-position:top center;
width:45vw;
height:450px;
}

.high2{
background-position:top center;
width:29vw;
height:450px;
}
.high3{
background-position:top center;
width:29vw;
height:450px;
}
.high4{
background-position:top center;
width:29vw;
height:450px;
}
#highlights span{
      font-size:25px;
}
#highlights h2{
      font-size:40px;
}
#highlights h3{
      font-size:50px;
}
#newsletter h1{
      font-size:40px;
}
#newsletter .form  input{
      align-items:center;
      justify-content:center;
      height:40px;
      width: 90%;
      margin-top:40px;
      margin-left:20px;
}
#newsletter .form  button{
      height:50px;
      width: 30%;
      margin-bottom:0;
      margin-left:200px;
}
#newsletter h5{
      margin-top:15px;
      font-size:20px;
      word-wrap: break-word;
      margin-bottom:0;
}
#newsletter span{
      margin-top:55px;
      font-size:20px;
      word-wrap: break-word;
      text-align:center;
      margin-bottom:0;
}
.footer-right{
      margin-top:90px;
      gap:20px;
}
.image a{
      font-size:24px;
}
.image a{
    white-space:nowrap;
}
.foo3{
      flex-direction:column;
      align-items:flex-start;
      padding:0px;
}
.foo4{
padding:0px;
}
.foo2{
      padding:0px;
}
.foo1 {
      margin-bottom:20px;
}
.foo2 h3{
      font-size:20px;
}
}

@media (max-width:1030px){
    #hero {
      padding:280px 30px;
      align-items:flex-start;
      height : 90vh;
      background-position: right center;
}
#hero h4 {
      font-size: 25px;
}
#hero h2{
      font-size: 40px;
}
#hero h1 {
      font-size: 25px;
}
p{
      font-size: 15px;
}
#featured{
      flex-wrap:wrap;
}
.fast-shipping{
      border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
      margin-left:0;
}
.free{
      border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.piggy{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.order{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.free{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.promotion{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.support{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      margin-right:0px;
}
#highlight h1{
      font-size:30px;
}
#highlight h2{
      font-size:30px;
}
#highlights{
      padding:0px;
      margin-right:0px;
      gap:20px;
}

.high{
background-position:top center;
width:45vw;
height:250px;
}
.high1{
background-position:center;
width:45vw;
height:250px;

}
.high2{
background-position:top center;
width:29vw;
height:300px;
}
.high3{
background-position:top center;
width:29vw;
height:300px;
}
.high4{
background-position:top center;
width:29vw;
height:300px;
}
.container{
      gap:10px;
}
.shirtt{
      margin:20px;
}
.shirt1{
            margin:20px;
}
.shirt3{
            margin:20px;
}
.shirt4{
            margin:20px;
}
.shirt5{
            margin:20px;
}
.shirt6{
            margin:20px;
}
.shirt9{
      margin:20px;
}
.shirt10{
            margin:20px;
}
#highlights span{
      font-size:20px;
}
#highlights h2{
      font-size:20px;
}
#highlights h3{
      font-size:20px;
}
button.normal{
      font-size:17px;
}
#newsletter h1{
      font-size:40px;
}
#newsletter .form  input{
      align-items:center;
      justify-content:center;
      height:30px;
      width: 90%;
      margin-top:40px;
      margin-left:20px;
}
#newsletter .form  button{
      height:40px;
      width: 30%;
      margin-right:10px;
      margin-bottom:0;
      margin-left:180px;
}
#newsletter h5{
      margin-top:15px;
      word-wrap: break-word;
      margin-bottom:0;
}
#newsletter span{
      margin-top:55px;
      word-wrap: break-word;
      text-align:center;
      margin-bottom:0;
}
.footer-right{
      margin-top:90px;
      gap:20px;
}
.image a{
      font-size:14px;
}
.image a{
    white-space:nowrap;
}
.foo3{
      flex-direction:column;
      align-items:flex-start;
      padding:0px;
}
.foo4{
padding:0px;
}
.foo2{
      padding:0px;
}
.foo1{
      margin-bottom:20px;
}
}



.mobile-menu{
    display: none;
}

/* Show normal navigation on desktop */
.header-list-nav{
    display: block;
}

/* Mobile */
@media (max-width:768px){

    .mobile-menu{
        display: block;
        position: relative;
    }

    /* Hide desktop navigation */
    .header-list-nav{
        display: none;
    }

    .header-list-nav.active{
        display: block;
        position: absolute;
        top: 30px;
        right: 0;
        background: white;
        width: 180px;
    }
}

@media (max-width:430px){
    #hero {
      padding:150px 30px;
      align-items:flex-start;
      height : 90vh;
      background-position: left center;
}
#hero h4 {
      font-size: 25px;
}
#hero h2{
      font-size: 40px;
}
#hero h1 {
      font-size: 25px;
}
p{
      font-size: 15px;
}
#featured{
      flex-wrap:wrap;
}
.fast-shipping{
      border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
      margin-left:0;
}
.free{
      border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.piggy{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.order{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.free{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.promotion{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.support{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      margin-right:0px;
}
#highlight h1{
      font-size:30px;
}
#highlight h2{
      font-size:30px;
}
.high{
 width:100vw;
height:250px;
}

.high1{
width:100vw;
height:250px;
}

.high2{
width:100vw;
height:250px;
}
.high3{
width:100vw;
height:250px;
}
.high4{
width:100vw;
height:250px;
}
#highlights span{
      font-size:15px;
}
#highlights h2{
      font-size:20px;
}
#highlights h3{
      font-size:30px;
}
button.normal{
      font-size:15px;
}
#newsletter h1{
      font-size:20px;
}
#newsletter .form  input{
      align-items:center;
      justify-content:center;
      height:30px;
      width: 80%;
      margin-top:40px;
      margin-left:20px;
}
#newsletter .form  button{
      height:30px;
      width: 30%;
      margin-right:10px;
      margin-bottom:0;
      margin-left:120px;
}
#newsletter h5{
      margin-top:15px;
      font-size:15px;
      word-wrap: break-word;
      margin-bottom:0;
}
#newsletter span{
      margin-top:55px;
      font-size:15px;
      word-wrap: break-word;
      text-align:center;
      margin-bottom:0;
}
.footer-right{
      margin-top:90px;
      gap:20px;
}
.image a{
      font-size:14px;
}
.image a{
    white-space:nowrap;
}
.foo3{
      flex-direction:column;
      align-items:flex-start;
      padding:0px;
}
.foo1{
padding-right:0px;
}
.foo4{
padding:0px;
}
.foo2{
      padding:0px;
}
}



 @media (max-width:385px){
    #hero {
      padding:80px 30px;
      align-items:flex-start;
      height : 90vh;
}
#hero h4 {
      font-size: 25px;
}
#hero h2{
      font-size: 50px;
}
#hero h1 {
      font-size: 25px;
}
p{
      font-size: 15px;
}
#featured{
      flex-wrap:wrap;
}
.fast-shipping{
      border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
      margin-left:0;
}
.free{
      border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.piggy{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.order{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.free{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.promotion{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.support{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      margin-right:0px;
}
#highlight h1{
      font-size:30px;
}
#highlight h2{
      font-size:30px;
}
button.normal{
      font-size:10px;
}
.high{
 width:100vw;
height:250px;
}

.high1{
width:100vw;
height:250px;
}

.high2{
width:100vw;
height:250px;
}
.high3{
width:100vw;
height:250px;
}
.high4{
width:100vw;
height:250px;
}
#highlights span{
      font-size:15px;
}
#highlights h2{
      font-size:20px;
}
#highlights h3{
      font-size:30px;
}
#newsletter h1{
      font-size:20px;
}
#newsletter .form  input{
      align-items:center;
      justify-content:center;
      height:20px;
      width: 80%;
      margin-top:50px;
      margin-bottom:0;;
}
#newsletter .form  button{
      height:20px;
      width: 40%;
      margin-top:5px;
      margin-left:50px;
}
#newsletter h5{
      margin-top:15px;
      font-size:13px;
      word-wrap: break-word;
      margin-bottom:0;
}
#newsletter span{
      margin-top:35px;
       font-size:13px;
      word-wrap: break-word;
      text-align:center;
}
.footer-left{
      display:flex;
      flex-direction:column;
      align-items:center;
}
.footer-right{
      flex-direction:column;
      align-items:center;
      margin-top:60px;
      gap:5px;
      flex-wrap:wrap;
}
.foo1{
      align-items:flex-start;
      margin-top:10px;
      padding:0px;
}
.foo3{
      flex-direction:column;
      align-items:flex-start;
      padding:0px;
}
.foo4{
padding:0px;
}
.foo2{
      padding:0px;
}
.image a{
      font-size:14px;
}
.image a{
    white-space:nowrap;
}
}



@media (max-width:325px){
      #hero {
      padding:80px 30px;
      align-items:flex-start;
      height : 90vh;
}
#hero h4 {
      font-size: 25px;
}
#hero h2{
      font-size: 50px;
}
#hero h1 {
      font-size: 25px;
}
p{
      font-size: 15px;
}
#featured{
      flex-wrap:wrap;
}
.fast-shipping{
      border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
      margin-left:0;
}
.free{
      border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.piggy{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.order{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.free{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.promotion{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.support{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      margin-right:0px;
}
#highlight h1{
      font-size:30px;
}
#highlight h2{
      font-size:30px;
}
.high{
 width:100vw;
height:250px;
}

.high1{
width:100vw;
height:250px;
}

.high2{
width:100vw;
height:250px;
}
.high3{
width:100vw;
height:250px;
}
.high4{
width:100vw;
height:250px;
}
#highlights span{
      font-size:15px;
}
#highlights h2{
      font-size:20px;
}
#highlights h3{
      font-size:30px;
}
#newsletter h1{
      font-size:20px;
}
#newsletter .form  input{
      align-items:center;
      justify-content:center;
      height:30px;
      width: 60%;
      margin-top:0;
      margin-bottom:0;
      margin-left:20px;
}
#newsletter .form  button{
      height:30px;
      width: 30%;
      margin-right:10px;
      margin-bottom:0;
}
#newsletter h5{
      margin-top:15px;
      word-wrap: break-word;
      margin-bottom:0;
}
#newsletter span{
      margin-top:35px;
      word-wrap: break-word;
      text-align:center;
}
.footer-right{
      margin-top:60px;
}
.image a{
      font-size:14px;
}
.image a{
    white-space:nowrap;
}
}



@media (max-width :320px){
#hero {
      padding:80px 30px;
      align-items:flex-start;
      height : 90vh;
}
#hero h4 {
      font-size: 25px;
}
#hero h2{
      font-size: 50px;
}
#hero h1 {
      font-size: 25px;
}
p{
      font-size: 15px;
}
#featured{
      flex-wrap:wrap;
}
.fast-shipping{
      border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
      margin-left:0;
}
.free{
      border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.piggy{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.order{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.free{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.promotion{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      border-radius:40px;
      box-shadow:0 5px 15px rgba(0,0,0,0.06);
}
.support{ 
   border:2px solid #fff;
      padding:20px 20px 20px 20px;
      margin-right:0px;
}
#highlight h1{
      font-size:30px;
}
#highlight h2{
      font-size:30px;
}
.high{
 width:100vw;
height:250px;
}

.high1{
width:100vw;
height:250px;
}

.high2{
width:100vw;
height:250px;
}
.high3{
width:100vw;
height:250px;
}
.high4{
width:100vw;
height:250px;
}
.banner{
      background-position:right;
}
#highlights span{
      font-size:15px;
}
#highlights h2{
      font-size:25px;
}
#highlights h3{
      font-size:30px;
}
#newsletter h1{
      font-size:20px;
}
button.normal{
font-size:10px;
}
#newsletter .form  input{
      align-items:center;
      justify-content:center;
      height:30px;
      float:right;
      margin-right:10px;
      width: 60%;
      margin-top:30px;;
      margin-bottom:0;
      margin-left:20px;
}
#newsletter .form  button{
      height:30px;
      width: 35%;
      float:right;
      margin-right:10px;
      margin-right:10px;
      margin-bottom:0;
}
#newsletter h5{
      font-size:13px;
      margin-top:15px;
      word-wrap: break-word;
      margin-bottom:0;
}
#newsletter span{
      margin-top:35px;
      font-size:13px;
      word-wrap: break-word;
      text-align:center;
}
.footer-right{
      margin-top:60px;
}
.image a{
      font-size:14px;
}
.image a{
    white-space:nowrap;
}
}
